

.review-com{
    margin-top: 119px;
    text-align: center;
    color: #e91b5e;
    font-family: initial;
    letter-spacing: 8px;
}

.blogs-footer{
    display: flex;
    justify-content: space-between;
    padding: 1px 9px;
    font-family: auto;
    margin-top: 9px;
}

.Details-btn{
    border: none;
    background-color: #038489;
    color: white;
    padding: 3px 22px;
    border-radius: 5px;
}

.Details-btn:hover{
    background-color: #c70707;
}

.home-image{
    height: 250px;
}


.pageCount{
    margin-left: 21px;
    margin-top: 18px;
}



.pageCount button{
    margin-left: 16px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0px 27px;

}

.pageCount .selected{
    background-color: #e91b5e;
}

.Toprate{
    text-align: center;
    margin-bottom: 28px;
    font-family: auto;
    color: white;
    margin-top: 13px;
}

.top-rate{
    background-color: #488973;
}