.details-icon{
    text-align: center;
    margin-top: 24px;
    font-size: 78px;
    border-radius: 50%;
    margin-left: 126px;
}

.user-info{
    font-size: 28px;
    font-family: monospace;
    text-align: center;

}

.hading-details{
    font-family: fangsong;
    letter-spacing: 1px;
    font-size: 31px;
    margin-left: 19px;
    padding-top: 13px;
    color: #cf0a0a;
}

.hading-pragraph{

    margin-left: 15px;
    font-family: monospace;
}

.cost-css{
    font-size: 17px;
    font-family: inherit;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}